.card
{
	margin-top: 5%;
}

#page-title 
{ 
	font-size: 2em;
}

.time-text 
{
	font-size: 0.6em;
}

.description 
{
	font-size: 1.75em;
}

#header-card, #footer-card
{
	border-style: hidden;
}


footer 
{
	margin-top: 6%;
	margin-bottom: 5px;
	font-size: 0.7em;
	text-align: center;
}

